{% extends "base.html" %}
{% block content %}
    <h1>Squash Leaderboard</h1>

    <table class="leaderboard-table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>ELO</th>
            </tr>
        </thead>
        <tbody>
            {% for profile in profiles %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="/profiles/{{ profile.id }}">{{ profile.first_name }} {{ profile.last_name }}</a></td>
                <td>{{ profile.elo|int }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

